.catalog {
  margin: 0 auto;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__item {
    width: calc((100% - 2*30px)/3);
  }
}