@import '../../scss/global/global';

.categories {
  width: 100%;

  &__list {
    display: flex;
    gap: 20px;
  }


  &__button {
    padding: 8px 24px;
    background-color: $white;
    border-radius: 30px;
    border: 1px solid $lightGrey;
    font-family: "Amatic SC",
      sans-serif;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    transition: background-color 0.4s, color 0.4s ease-in-out, outline 0.4s;

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 4px;
    }

    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:active {
      background-color: $accent;
      color: $white;
    }

    &.active {
      background-color: $accent;
      color: $white;
    }
  }

  @media(max-width: 768px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    // overflow-x: scroll;
    padding-bottom: 10px;
    -webkit-padding-bottom: 10px;
  }
}