.logo {
  flex-shrink: 0;
  border-radius: 4px;
  transition: outline 0.4s, opacity 0.4s;

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:hover {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.5;
  }

  &__img {
    flex-shrink: 0;
    width: 147px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 50% 52% 28% 61% / 39% 43% 48% 50%;
  border: 1px solid $accent;
  background-color: $bg;
  color: $accent;
  font-size: 24px;
  font-weight: 700;

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:hover {
    background-color: $accent;
    color: $white;
  }

  &:active {
    background-color: $accent;
    color: $white;
  }
}

.accentButton {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10px 24px;
  border-radius: 29% 30% 25% 17% / 60% 58% 46% 34%;
  background-color: $accent;
  color: $white;
  font-family: "Amatic SC",
    sans-serif;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  transition: background-color 0.4s,
    outline 0.4s;

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:hover {
    background-color: $secondary;
  }

  &:active {
    background-color: $accent;
  }
}


.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 52% 28% 61% / 39% 43% 48% 50%;
  font-size: 32px;
  border: 1px solid transparent;
  transition: color 0.3s ease-in,
    outline 0.3s ease-in,
    border-color 0.3s ease-in;

  &:focus {
    color: $accent;
  }

  &:hover {
    border-color: $accent;
    color: $accent;
  }

  &:active {
    border-color: transparent;
  }

  &.active {

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

}

.link {
  position: relative;
  display: inline-block;


  &:focus {
    outline: solid 1px $accent;
    border-radius: 4px;
  }

  &:hover {
    color: $accent;

    &::before {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  &:active {
    color: $primary;
    opacity: 0, 5;

    &:before {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
}

.btnSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 36px;
  height: 36px;
  background-color: $white;
  border: 1px solid $secondary;
  border-radius: 50%;
  color: rgba($primary, 0.4);
  transition: border-color 0.3s ease-in, color 0.3s ease-in;

  &:hover {
    border-color: $accent;
    color: rgba($primary, 1);
  }

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:active {
    background-color: $lightGrey;
  }

  &:disabled {
    color: $grey;
    border-color: $lightGrey;

    &:hover {
      color: $grey;
      border-color: $lightGrey;
    }
  }
}

// .disabled {
//   color: $grey;
//   border-color: $lightGrey;

//   &:hover {
//     color: $grey;
//     border-color: $lightGrey;
//   }
// }