.logo {
  flex-shrink: 0;
  border-radius: 4px;
  transition: outline 0.4s, opacity 0.4s;

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:hover {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.5;
  }

  &__img {
    flex-shrink: 0;
    width: 147px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 50% 52% 28% 61% / 39% 43% 48% 50%;
  border: 1px solid $accent;
  background-color: $bg;
  color: $accent;
  font-size: 24px;
  font-weight: 700;

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:hover {
    background-color: $accent;
    color: $white;
  }

  &:active {
    background-color: $accent;
    color: $white;
  }
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 52% 28% 61% / 39% 43% 48% 50%;
  font-size: 32px;
  border: 1px solid transparent;
  transition: color 0.3s ease-in,
    outline 0.3s ease-in,
    border-color 0.3s ease-in;

  &:focus {
    color: $accent;
  }

  &:hover {
    border-color: $accent;
    color: $accent;
  }

  &:active {
    border-color: transparent;
  }

  &.active {

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

}

.link {
  position: relative;
  display: inline-block;


  &:focus {
    outline: solid 1px $accent;
    border-radius: 4px;
  }

  &:hover {
    color: $accent;

    &::before {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  &:active {
    color: $primary;
    opacity: 0, 5;

    &:before {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
}